.minecraft/1213309934
.minecraft/BotaniaVars.dat
.minecraft/TCNodeTracker
.minecraft/TIWorldData
.minecraft/TI_Transformer.log
.minecraft/backups
.minecraft/crash-reports
.minecraft/journeymap/data/mp
.minecraft/journeymap/data/sp
.minecraft/journeymap/journeymap.log
.minecraft/logs
.minecraft/minetweaker.log
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/texturepacks
usercache.json
usernamecache.json
.minecraft/journeymap/data